<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatterbox</title>
</head>

<body>
    <header class="">
        <nav class="">
            <a href="">Home</a>
            {{#if loggedIn}}
            {{!-- <a href=""><img src="" alt="User Icon"></a> --}}
            <a href="">?</a>
            {{else}}
            <a href="">Login</a>
            {{/if}}
        </nav>
    </header>
    <nav class="" id="sidebar">
        {{!-- <div>logo div</div> --}}
        <div id="forums-list">
            <ul aria-label="Forums">
                <li>Example 1</li>
                <li>Example 2</li>
                <li>Example 3</li>
            </ul>
        </div>
        <div id="favorite-users-list">
            {{!-- self contained scroll box --}}
        </div>
        <div id="my-feed-link">
            <a href="">My Feed</a>
        </div>
    </nav>
    <main class="">
        {{{ body }}}
    </main>
    <footer class="">
        {{{ footer }}}
    </footer>

    {{!-- {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}} --}}

</body>